.icon{
	border-style: outset; 
	padding-top: 10px; 
	padding-bottom: 10px;
    font-style: italic; 
	background-color: white; 
	margin-left: 10px;
	position: absolute;
	font-size: x-large;
}

.navigation{
	width: 150px; 
	height: 200px; 
	position: absolute; 
	top: 80px; 
	font-size: 1.5em;
	padding: 0.5rem;
	margin=0.5rem;
}

.main_buttons{
	width: 150px; 
	font-size: 0.6em;
}

.main_content{
	border-style: ridge; 
	position: absolute; 
	padding-left: 40px; 
	padding-top: 30px; 
	left: 200px;
    background-color: white; 
	top: 80px; 
	width: 80%;
}