{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
{% if books %}
{% for book in books %}
<div style="border-style: solid; width: 85%; padding: 10px 3% 20px;">
    <h1>{{ book.title }}</h1>
    <br>

    <h4>Автор статьи: {{ book.author }}</h4>
    <h4>Жанр: {{ book.genre }}</h4>
    <br>
    <h4 style="border: 2px dashed #000000; padding: 5px;white-space: pre-line;">&nbsp; Краткий пересказ:<br>

        &nbsp;&nbsp;&nbsp;{{ book.brief_retelling }}</h4>
    <br>
    <h4 style="border: 2px dashed #000000; padding: 5px;white-space: pre-line;">&nbsp; Отзыв:<br>
        &nbsp;&nbsp;&nbsp;{{ book.feedback }}
    </h4>
    <br>

    {% if book.is_favorite %}
    <a class="btn btn-danger" href="/del_favorite_book?page=favorites&user_id={{ current_user.id }}&book_id={{ book.id }}">Удалить из избранных</a>
    {% endif %}

    <br>
</div>
<br><br>
{% endfor %}
{% else %}
<h4>Увы, но у вас нет избранных постов</h4>
{% endif %}
<br>
{% endblock %}