{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/friends_style.css') }}">
{% endblock %}

{% block body %}
{% if friends %}
{% for friend in friends %}
<div class="friends">
    <h1><a href="/profile/{{ friend.surname }}_{{ friend.name }}" style="color: #000000">{{ friend.surname }} {{
        friend.name }}</a></h1>
    <br>
    <h5>&nbsp;Возраст: {{ friend.age }}</h5>
    <h5>&nbsp;Email: {{ friend.email }}</h5>
    <h5>&nbsp;Любимые жанры книг: {% for i in friend.like_genres %}{{ i }}, {% endfor %}</h5>
    {% if current_user.id != friend.id and not friend.is_friend %}
    <a class="btn btn-danger" href="/add_friend?friend_id={{ friend.id }}&page=friends&page_id={{ user.id }}">Добавить в друзья </a>
    {% elif current_user.id != friend.id and friend.is_friend %}
    <a class="btn btn-danger" href="/del_friend?friend_id={{ friend.id }}&page=friends&page_id={{ user.id }}">Удалить из друзей</a>
    {% endif %}
</div>
<br><br>
{% endfor %}
{% else %}
<h4>Увы, но у данного пользователя нет друзей</h4>
{% endif %}
<br>
{% endblock %}