{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Профиль читателя</h1>
<br>
{% for book in books %}
<form action="" style="border-style: solid; width: 85%; padding: 10px 3% 20px;">
    <h1>{{ book.title }}</h1>
    <br>
    <h4>Автор статьи: {{ book.author }}</h4>
    <h4>Жанр: {{ book.genre }}</h4>
    <br>
    <h4 style="border: 2px dashed #000000;">&nbsp;  Краткий пересказ:<br><br>
        &nbsp;&nbsp;&nbsp;{{ book.brief_retelling }}</h4>
    <br>
    <h4 style="border: 2px dashed #000000;">&nbsp;  Отзыв:<br><br>
        &nbsp;&nbsp;&nbsp;{{ book.feedback }}
    </h4>
    <br>
    <h3>Комментарии:</h3>
    <h4>Написать комментарий:<input type="text" style="width: 200px;" name="users_comment">
        <button class="btn btn-success main_buttons" style="font-size:0.7em;">Отправить</button>
    </h4>
    <br>
    {% for comment in book.comments %}
    <h4>{{ comment.name_user }}</h4>
    <h4 style="font-size: 0.7em;">{{ comment.datetime_creation }}</h4>
    <h5>{{ comment.content }}</h5>
    {% endfor %}
</form>
{% endfor %}
<br>
{% endblock %}