{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">
{% endblock %}

{% block body %}
<table width="80%">
    <tr style="border: 2px dashed #000000;">
        <td width="70%" style="padding: 10px 3% 10px;">
            <h1 class="name_user">{{ user.surname }} {{ user.name }}</h1>

            {% if user.id != current_user.id %}
            <a class="btn btn-danger" href="/library/{{ user.surname }}_{{ user.name }}">Библиотека пользователя</a><br><br>
            <a class="btn btn-danger" href="/friends/{{ user.surname }}_{{ user.name }}">Друзья пользователя</a><br><br>
            {% endif %}
            <h5>&nbsp;Возраст: {{ user.age }}</h5>
            <h5>&nbsp;Любимые жанры книг: {{ user.like_genres }}</h5>
            <h5>&nbsp;Email: {{ user.email }}</h5>

        </td>
        <td style="vertical-align: top;">
            <img src="{{ image }}" class="image_user" align="right">
        </td>
    </tr>
    {% if current_user.is_authenticated %}
    <tr>
        <td>
            <br>
            {% if user.id == current_user.id %}
            <a class="btn btn-danger" href="/edit_account">Редактировать профиль</a>
            {% elif not user.is_friend %}
            <a class="btn btn-danger" href="/add_friend?friend_id={{ user.id }}">Добавить в друзья </a>
            {% elif user.is_friend %}
            <a class="btn btn-danger" href="/del_friend?friend_id={{ user.id }}&page=profile">Удалить из друзей</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
<br>
{% endblock %}