{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">
{% endblock %}

{% block body %}
<h1>Профиль читателя</h1>
<br>
<table width="80%">
    <tr style="border: 2px dashed #000000;">
        <td width="70%">
            <h1 class="name_user">Иванов Иван</h1>
            <br>
            <h5>&nbsp;Возраст: 18</h5>
            <h5>&nbsp;Любимые жанры книг: фэнтези, фантастика</h5>
            <h5>&nbsp;Любимые книги: Война и мир, Метро 2033, Евгений Онегин</h5>
            <h5>&nbsp;Email: ...@mail.ru</h5>
<!--            Для работы scroll-->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </td>
        <td style="vertical-align: top;">
            <img src="static/image/Fon.jpg" class="image_user" align="right">
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <a class="btn btn-danger">Редактировать профиль</a>
        </td>
    </tr>
</table>
<br>
{% endblock %}